@font-face {
    font-family: 'MiTipografia'; /* Nombre que usarás en CSS */
    src: url('ferbtastic/PhineasyFerb.ttf') format('truetype'); /* Archivo principal en formato TTF */
    font-weight: normal;
    font-style: normal;
  }
  body {
    background-color: rgb(144, 238, 144); 
    margin: 0;
    padding: 0;
    color: white;
    position: relative;
}
header{
    text-align: center;
    margin: 1%;
    padding: 2%;
}

h1{
    font-family: 'MiTipografia', serif;
    color: rgb(220 20 60);

  }

h2{
    font-family: 'MiTipografia', serif;
}

.navbar {
    background-color:rgb(100 149 237) !important;
  }

  .modal {
      z-index: 1050 !important;
  }

  #contenido {
    background-color: rgb(255, 99, 71, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    margin-top: 5%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    position: relative;  /* Necesario para que el contenido quede por encima de la imagen */
    z-index: 1;  /* Asegura que el contenido esté encima de la imagen */
}

.imagenes-aventura{
    align-items: center;
    height: 15%;
    width: 25%;
}

#resumen{
    margin-top: 1%;
}

#boton-juego {
    font-family: 'MiTipografia', serif;
    font-size: 20px; /* Aumenta el tamaño de la fuente */
    padding: 20px 40px; /* Aumenta el tamaño del botón */
    border-radius: 12px; /* Redondea las esquinas */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Sombra suave */
    background-color: #28a745; /* Color de fondo del botón */
    color: white; /* Color del texto */
    border: none; /* Elimina el borde */
    transition: all 0.3s ease; /* Efecto suave al pasar el mouse */
    display: inline-block; /* Asegura que el botón no ocupe toda la línea */
    text-align: center; /* Centra el texto dentro del botón */
}

/* Efecto cuando el mouse pasa sobre el botón */
#boton-juego:hover {
    background-color: #218838; /* Color de fondo al hacer hover */
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.3); /* Sombra más grande al hacer hover */
    transform: scale(1.05); /* Agranda el botón un poco */
}

.clase-contenido{
    padding: 1%;

}


.imagen-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
   height: 100%;
    z-index: -1;  
}


@media (max-width: 768px) {
    iframe {
        height: 300px;
    }
}
