@font-face {
    font-family: 'MiTipografia';
    src: url('ferbtastic/PhineasyFerb.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }
  body {
    background-color: rgb(144, 238, 144); 
    margin: 0;
    padding: 0;
    color: white;
    position: relative;
}
header{
    text-align: center;
    margin: 1%;
    padding: 2%;
}

h1{
    font-family: 'MiTipografia', serif;
    color: rgb(220 20 60);

  }

h2{
    font-family: 'MiTipografia', serif;
}

.navbar {
    background-color:rgb(100 149 237) !important;
  }

  .modal {
      z-index: 1050 !important;
  }

  #contenido {
    background-color: rgb(255, 99, 71, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    margin-top: 5%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    position: relative; 
    z-index: 1;  
}

.imagenes-aventura{
    align-items: center;
    height: 15%;
    width: 25%;
}

#resumen{
    margin-top: 1%;
}

#boton-juego {
    font-family: 'MiTipografia', serif;
    font-size: 20px; 
    padding: 20px 40px; 
    border-radius: 12px; 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); 
    background-color: #28a745; 
    color: white; 
    border: none; 
    transition: all 0.3s ease; 
    display: inline-block; 
    text-align: center; 
}

#boton-juego:hover {
    background-color: #218838;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.3); 
    transform: scale(1.05); 
}

.clase-contenido{
    padding: 1%;

}


.imagen-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
   height: 100%;
    z-index: -1;  
}


@media (max-width: 768px) {
    iframe {
        height: 300px;
    }
}